# Stitch

**Combine cleaned data into single dataframe and export into aggregate clean csv file.**

Author: Vincent Brandon

Version: 1.0.1

In [2]:
import pandas as pd

In [47]:
# Global parameters for cleaning & stitching
years_a = [2006, 2007, 2008]
years_b = [2014, 2015, 2016]

In [48]:
# Generate files list from parameters
years = years_a + years_b

file_names = [str(year) + '_clean.csv' for year in years]
file_names

['2006_clean.csv',
 '2007_clean.csv',
 '2008_clean.csv',
 '2014_clean.csv',
 '2015_clean.csv',
 '2016_clean.csv']

In [53]:
# Read files
dataframe_list = [pd.read_csv(file_name, index_col='case_id') for file_name in file_names]

In [54]:
# Calculate expected shape of outpout
rows = 0
columns = 29

for dataframe in dataframe_list:
    print('Dataframe shape: ', dataframe.shape)
    rows += dataframe.shape[0]
    
print('Expected final shape: ({}, {})'.format(rows, columns))

Dataframe shape:  (12891, 21)
Dataframe shape:  (12233, 21)
Dataframe shape:  (12708, 21)
Dataframe shape:  (11212, 24)
Dataframe shape:  (10626, 24)
Dataframe shape:  (10210, 24)
Expected final shape: (69880, 29)

In [55]:
test_df = dataframe_list[0].append(dataframe_list[3], sort=True)
display(test_df.head(), test_df.year.unique())

,activity_list,assisted_meals,bmi,drink_diet_soda,drink_soda,eating_duration_24,exercise_frequency_last_week,fast_food_frequency_last_week,fast_food_yesterday,general_health,...,secondary_drinking_all_day,secondary_drinking_day_prior,secondary_drinking_duration,secondary_eating_all_day,secondary_eating_day_prior,secondary_eating_duration,snap_benefits,statistical_weight,weight_lb,year
case_id,,,,,,,,,,,,,,,,,,,,,
20060101060001,20,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,3,...,NaN,0.0,0.0,NaN,1.0,5,0.0,3.378223e+06,155.0,2006
20060101060014,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,0.0,0.0,NaN,0.0,0,0.0,3.498809e+06,230.0,2006
20060101060025,"6,6",NaN,26.2,NaN,NaN,NaN,NaN,NaN,NaN,4,...,NaN,1.0,120.0,NaN,1.0,10,0.0,5.787733e+06,188.0,2006
20060101060033,"2,3,5,12,17",2.0,26.4,NaN,NaN,NaN,NaN,NaN,NaN,3,...,NaN,1.0,143.0,NaN,1.0,15,0.0,5.166712e+06,135.0,2006
20060101060038,"3,3",NaN,24.6,NaN,NaN,NaN,NaN,NaN,NaN,3,...,NaN,1.0,45.0,NaN,1.0,10,0.0,6.425096e+06,162.0,2006

array([2006, 2014], dtype=int64)

In [56]:
from IPython.display import display

# Join all dataframes
for dataframe in dataframe_list[1:]:
    print('Appending dataframe', dataframe['year'].unique())
    dataframe_list[0] = dataframe_list[0].append(dataframe, sort=True)
    
display(dataframe_list[0].shape, dataframe_list[0].head(2))
assert dataframe_list[0].shape == (rows, columns)

Appending dataframe [2007]
Appending dataframe [2008]
Appending dataframe [2014]
Appending dataframe [2015]
Appending dataframe [2016]

(69880, 29)

,activity_list,assisted_meals,bmi,drink_diet_soda,drink_soda,eating_duration_24,exercise_frequency_last_week,fast_food_frequency_last_week,fast_food_yesterday,general_health,...,secondary_drinking_all_day,secondary_drinking_day_prior,secondary_drinking_duration,secondary_eating_all_day,secondary_eating_day_prior,secondary_eating_duration,snap_benefits,statistical_weight,weight_lb,year
case_id,,,,,,,,,,,,,,,,,,,,,
20060101060001,20,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,3,...,NaN,0.0,0.0,NaN,1.0,5,0.0,3.378223e+06,155.0,2006
20060101060014,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,0.0,0.0,NaN,0.0,0,0.0,3.498809e+06,230.0,2006

In [57]:
dataframe_list[0].to_csv(path_or_buf='atus_aggregate_clean.csv')